################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CodeLearn/v16
/Debug
/packages
/CodeTest/Debug
/CodeTest/x64/Debug
